/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-zonefitness-responsive-spacer {
	// border: 1px dotted #f00;

	height: var(--desktop-height);
	@media (max-width: 1024px) {
        height: var(--tablet-height);
    }

    @media (max-width: 781px) {
        height: var(--mobile-height);
    }

	background: #e5e5e5;
	border: 2px dashed #999;
	color: #000;

	display: flex;
	align-items: center;
	justify-content: center;
}

// .wp-block-zonefitness-responsive-spacer {
//     height: var(--desktop-height);

//     @media (max-width: 1024px) {
//         height: var(--tablet-height);
//     }

//     @media (max-width: 767px) {
//         height: var(--mobile-height);
//     }
// }